.title {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: var(--title-color);
}

.text {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.info{
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}

.vector {
    margin-bottom: -7px;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

#currency {
    background-color: var(--currencies-color);
}

#languages {
    background-color: var(--languages-color);
}

#phone {
    background-color: var(--phone-color);
}

#currency, #languages, #phone {
    text-align: center;
    padding: 2px;
    border-radius: 15px;
    padding-inline: 10px;
}

@media (min-width: 780px) {
    #phone,#languages, #currency  {
        background: none;
        text-align: center;
    }
    .info{
        align-items: center;
    }
    .title{
        text-align: center;
    }
    .wrapper{
        gap: 5px;
    }
    .text{
        font-size: 35px;
        line-height: 45px;
        text-align: center;
    }
    .country, .languages, .region {
        align-self: end;
    }
    .capital, .currency, .phone {
        align-self: start;
    }
    .country > .wrapper,
    .capital > .wrapper,
    .region > .wrapper{
        flex-direction: column-reverse;
    }
    .currency > .wrapper,
    .languages > .wrapper,
    .phone > .wrapper{
        flex-direction: column;
    }
    .vector {
        margin-bottom: 0;
    }
}


