.title {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: var(--title-color);
}

.text {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.info{
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}

.vector {
    margin-bottom: -7px;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

#currency {
    background-color: var(--currencies-color);
    text-align: center;
    padding-block: 2px;
    border-radius: 15px;
    padding-inline: 10px;
}

#languages {
    background-color: var(--languages-color);
    text-align: center;
    padding-block: 2px;
    border-radius: 15px;
    padding-inline: 10px;
}

#phone {
    background-color: var(--phone-color);
    text-align: center;
    padding: 2px;
    border-radius: 15px;
    padding-inline: 10px;
}

