.wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 38px;
    margin-top: 27px;
    justify-content: flex-start;
}

.flag {
    width: 127px;
    height: 75px;
    border-radius: 5px;
}

.info {
    margin-block: 30px;
    list-style-type: none;
}

