.wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 38px;
    margin-top: 27px;
    justify-content: flex-start;
}

.flag {
    max-width: 127px;
    min-height: 75px;
    border-radius: 5px;
}

.info {
    margin-block: 30px;
    list-style-type: none;
}

@media (min-width: 780px) {
    .flag {
        position: absolute;
        top: 115px;
        align-self: center;
        margin-inline: 0;
    }
}
