.wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 38px;
    margin-top: 20px;
    justify-content: flex-start;
}

.flag {
    width: 127px;
    height: 75px;
}

.title {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: var(--title-color);
}

.text {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}