.wrapper {
    background-color: var(--choose-card-background);
    min-height: 226px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    grid-area: card;
    margin-bottom: 25px;
}

.planet {
    width: 133px;
    height: 133px;
}

.flags {
    width: 100%;
    margin-top: -60px;
}

.title {
    font-size: 44px;
    line-height: 52px;
    text-align: center;
}

@media (min-width:550px) and (max-width: 779px) {
    .flags {
        width: 60%;
        margin-top: -60px;
    }
}

@media (min-width: 780px) {
    .planet {
        width: 266px;
        height: 266px;
    }
    .title {
        font-size: 84px;
        line-height: 98px;
        padding-inline: 10px;
    }
    .wrapper {
        border-radius: 15px;
        box-shadow: none;
        justify-content: center;
        margin-bottom: 0;
    }
}