.wrapper {
    background-color: var(--header-background);
    width: 100%;
    height: 58px;
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.arrow {
    font-size: 30px;
    position: absolute;
    left: 30px;
    top: 10px;
}

.hidden {
    visibility: hidden;
}

.title{
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
}