.wrapper {
    background-color: var(--header-background);
    width: 100%;
    height: 58px;
}

.title{
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 8px;
}