@media (min-width: 780px) {
    .App {
        display: grid;
        grid-template-columns: 1.5fr 2fr;
        justify-content: center;
        grid-template-areas:
            "header header"
            "list card";
    }
}