@media (min-width: 780px) {
    .Main {
        margin-block: 35px;
        margin-right: 112px;
        display: grid;
        grid-template-areas:
            "list card card card";
    }
}

@media (min-width: 781px) and (max-width: 1024px){
    .Main {
        margin-right: 20px;
    }
}